<mat-toolbar color="primary">Speakers</mat-toolbar>

<mat-list class="mat-list--no-margin">
  <mat-list-item *ngFor="let schedule of schedules">
    <a matLine routerLink="/speakers/{{schedule.speaker.name | slug}}" *ngIf="schedule.speaker">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar mat-card-sm-image src="{{schedule.speaker.image}}" alt="speaker.name">
          <mat-card-title>{{schedule.speaker.name}}</mat-card-title>
          <mat-card-subtitle>{{schedule.speaker.workspace}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </a>
  </mat-list-item>
</mat-list>
