<mat-toolbar color="primary">Schedule</mat-toolbar>
<div *ngFor="let schedule_list of schedules; let day = index">
  <div *ngIf="schedule_list">
    <mat-toolbar color="secondary">
      Day {{day}}
    </mat-toolbar>
    <ul class="mat-list--no-margin">
      <li *ngFor="let schedule of schedule_list">
        <a matLine routerLink="/talk/{{schedule.talk_name | slug}}" *ngIf="schedule.speaker">
          <mat-card class="custom-card">
            <mat-card-header>
              <img mat-card-avatar mat-card-sm-image src="{{schedule.image}}" alt="{{schedule.talk_name}}">
              <mat-card-title>{{schedule.talk_name}}</mat-card-title>
              <mat-card-subtitle mat-line>{{schedule.speaker.name}} -- {{schedule.start}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </a>
        <mat-card *ngIf="!schedule.speaker" class="custom-card">
          <mat-card-header>
            <mat-card-title><h4>{{schedule.talk_name}}</h4></mat-card-title>
          </mat-card-header>
        </mat-card>
      </li>
    </ul>
  </div>
</div>
