<md-toolbar color="primary">Conference</md-toolbar>
<md-card class="text-center">
  <img src="assets/website_logo.png">
  <md-card-title>
    <h3>Javascript International Conference</h3>
  </md-card-title>
  <md-card-content>
    <p>June 8-9, 2017<br> Cluj-Napoca, Romania</p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-actions class="text-center">
    <a md-button routerLink=".">github</a>
    <a md-button routerLink=".">twitter</a>
    <a md-button routerLink=".">fb</a>
    <a md-button routerLink=".">meetup</a>
  </md-card-actions>
</md-card>
