<mat-toolbar color="primary">Conference</mat-toolbar>
<mat-card class="text-center">
  <img src="assets/website_logo.png" alt="JsHeroes">
  <mat-card-title>
    <h3>Javascript International Conference</h3>
  </mat-card-title>
  <mat-card-content>
    <p>April 11-12, 2019<br> Cluj-Napoca, Romania</p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-actions class="text-center">
    <a mat-button target="_blank" rel="noopener" href="https://github.com/jsheroes/jsheroes.io">github</a>
    <a mat-button target="_blank" rel="noopener" href="https://twitter.com/jsheroes">twitter</a>
    <a mat-button target="_blank" rel="noopener" href="https://www.facebook.com/jsheroes">fb</a>
    <a mat-button target="_blank" rel="noopener" href="https://www.meetup.com/jsheroes/">meetup</a>
  </mat-card-actions>
</mat-card>
